 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
    width: 28vw;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 80px #000000b0;
}
.lg-saavedra {
    width: 25em;
    padding: 2em 0;
}
h2 {
    font-size: 1.8em;
    margin: 1em;
    color: #404040;
    font-weight: 100;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-field {
    border-radius: 5px;
    padding: .7em;
    margin: 1em;
    border: 1px solid #00000033;
    text-align: center;
    font-size: 1.3em;
    background: #03396610;
}

.input-field:hover {
    border: 1px solid #033966;
}

.btn.btn-block {
    margin: 1em auto 0 auto;
    border-radius: 20px;
    background-color: #033966;
    color: #fff;
    border: none;
    width: 30%;
    font-size: 1.3em;
    padding: .7em;
    letter-spacing: 1px;
    transition: 0.2s;
}

.btn.btn-block:hover {
    transform: scale(1.1);
    background-color: #0a8504;
    transition: 0.2s;
}

/* @media(max-width: 575px) {
    .wrapper {
        margin: 10px
    }
}

@media(max-width:424px) {
    .wrapper {
        padding: 30px 10px;
        margin: 5px
    }

    #forgot {
        font-size: 0.95rem
    }
}

@media screen and (max-width: 600px) {
    html, body {
        overflow: hidden;
    }
    .wrapper {
        width: 90%;
        height: 45%;
        max-width: 500px;
        border-radius: 10px;
        margin: auto;
        padding: 30px 40px;
        box-shadow: 20px 20px 80px rgb(0, 0, 0)
    }
} */
