@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap");
/*NUMEROS DE PROCENTAJES EN INTERFAZ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("/public/images/fondoLogin.jpg");
    background-repeat: repeat;
    background-size: auto;
}
header {
    position: fixed;
}
.section {
    padding-top: 5rem;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: #0a8504 0px 0px 10px;
}
.header-section {
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}
.title-div {
    width: 50%;
    background: #033966;
    margin: 2em 8em;
    padding: 2em;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #033966 0px 0px 10px;
}
.text-header-class {
    margin: 5px;
    font-size: 1.4em;
    font-weight: 100;
}
.workOrder-text {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.pieces-text {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.finish-order {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: #0a8504;
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: #033966 0px 0px 10px;
    text-decoration: none;
    transition: 0.2s;
}
.finish-order:hover {
    background: #033966;
    padding: 1.1em;
    font-size: 1.5em;
    transition: 0.2s;
}
.processes-section {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.process-section {
    width: 20%;
    height: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.8em;
    padding: 0.5em;
    border-radius: 10px;
    background: #404040;
    box-shadow: #000 0px 0px 10px;
    color: #fff;
    font-size: 1.2em;
    transition: 0.2s;
}
.process-section:hover {
    background: #033966;
    transform: scale(1.05);
    cursor: pointer;
    transition: 0.2s;
}
.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.3em 0;
    box-shadow: #033966 0px 0px 5px;
}
.progress {
    height: 100%;
}
.good-progress {
    background-color: #0a8504;
}
.bad-progress {
    background-color: #9c0303;
}

.progress-percentage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    font-weight: 700;
}

.opacity-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000aa;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    position: relative;
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 2em;
}
.modal-close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 2em;
    cursor: pointer;
    font-size: 1.5em;
    background: transparent;
    border: none;
}
.img-close {
    width: 100%;
}

/* Estilos de la tabla del modal */
.bad-pieces-table {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 85%;
    border-collapse: collapse;
    margin-top: 1em;
    box-shadow: #033966 0px 0px 10px;
    border-radius: 10px;
    font-size: 1.5em;
    overflow-y: auto;
}
.bad-pieces-table th,
.bad-pieces-table td {
    padding: 0.5em;
    text-align: center;
}
.no-bad-pieces {
    font-style: italic;
    color: #404040;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: #033966 0px 0px 5px;
}
.no-data-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 1.5em;
    color: #404040;
    text-align: center;
    margin-top: 2em;
    font-weight: 700;
    padding: 3em;
    background: #f9f9f9;
    box-shadow: #033966 0px 0px 5px;
    border-radius: 10px;
}
/* RESPONSIVE */
@media (max-width: 991.98px) {
    .header-section {
        flex-direction: row;
        align-items: center;
    }
    .title-div {
        width: 90%;
        display: inline-block;
        margin: 1em auto;
        padding: 0.5em;
    }
    .workOrder-text,
    .pieces-text {
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }
    .text-header-class {
        font-size: 1.2em;
    }
    .finish-order {
        position: relative;
        margin-top: auto;
        top: 20em;
        left: 0;
        font-size: 1em;
        transform: none;
        margin: 1em auto;
        padding: 0.8em 2em;
    }
    .finish-order:hover {
        padding: 0.9em 2.2em;
        font-size: 1.1em;
        transition: 0.2s;
    }
    .header-section {
        flex-direction: column;
        align-items: center;
    }
    .text-header-class {
        text-align: center;
    }
    .process-title {
        font-size: 1em;
        margin-bottom: 0.2em;
    }
    .process-section {
        margin-top: 1em;
        width: 80%;
        height: 22%;
        margin: 0.5em auto;
    }
    .progress-bar {
        height: 24px;
    }
    .progress-percentage {
        font-size: 1em;
    }
    .bad-pieces-table {
        font-size: 1.2em;
    }
    .good-progress {
        background: linear-gradient(
            to right,
            #9ff390,
            #0a8504
        ); /* verde claro a fuerte */
    }
    .bad-progress {
        background: linear-gradient(
            to right,
            #f38080,
            #9c0303
        ); /* rojo claro a fuerte */
    }
    .modal {
        width: 90%;
        height: 80%;
        top: 5%;
        padding: 1.2em;
    }
    .modal-close {
        width: 1.5em;
        height: 2em;
        font-size: 1.2em;
    }
    .modal-title {
        font-size: 1em;
        margin-bottom: 1em;
    }
    .bad-pieces-table th,
    .bad-pieces-table td {
        padding: 0.3em;
        font-size: 0.8em;
    }
}
