body{
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    margin-top: 50px;
    text-align: center;
    width: 90%;
    height: 85vh;
    background-color: #ffffffbb;
    border: 1px solid #ebe8e8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}
select {
    padding: 9px;
    width: 160px;
    height: 48px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    /* background-color: black; */
    color: rgb(9, 9, 9);
    border-radius: 5px;
}
.btn-pza{
    display: inline-block;
    width: 60px;
    transition: 0.2s;
}
.btn-pza:hover{
    transform: scale(1.4);
    transition: 0.2s;
}
.ver{
    width: 100%;
}
.btn-liberar{
    display: inline-block;
    width: 40px;
    transition: 0.2s;
}
.btn-liberar:hover{
    transform: scale(1.4);
    transition: 0.2s;
}
.btns{
    padding: 17px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    transition: 0.2s;
}
.btns:hover {
    background-color: #85929E;
    color: white;
    transition: 0.2s;
    transform: scale(1.05); /* Realiza un pequeño zoom del 5% */
}
h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;

}
.title_ot{
    font-size: 30px; /* Tamaño de fuente */
    font-family:Verdana, Geneva, Tahoma, sans-serif; /* Tipo de fuente */
    margin: 20px 10px; /* Espaciado interno */
    display: block; /* Para que ocupe todo el ancho disponible */
}   
.date-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
/* ESTILOS PARA LA TABLA */
.div-table{
    height: 62%;
    overflow-x: auto;
}
table {
    margin-top: 20px;
    width: 200%;
    border-collapse: collapse;
    margin-top: 12px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #666;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #eee;
}

/* FILTROS DE BUSQUEDA */
.search-input, .filter-select, .date-range {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin: 0 10px;
}
/* Cuando se posiciona sobre una opción del select este cambia de color a negro*/
.filter-select:focus{
    background-color: black

}
.search-input {
    flex-grow: 1;
}
.filter-select, .date-range {
    flex-basis: 150px;
}
.filter-select {
    background-color: #707B7C;
    color: #FDFEFE;
}
.date-range {
    background-color: #6c757d;
    color: #fff;
}
.btn-PDF{
    position: absolute;
    width: 4%;
    right: 100px;
    top: 115px;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}
/* IMAGEN DE PDF */
.generar_pdf {
    width: 100%;
}
.btn-PDF:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

/* ADVERTENCE */
.advertence{
    font-size: 100px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.letrero{
    margin-top: 9%;
}
/* BOTON */
.btn-back {
    display: flex;
    margin-top: 30px;
    position: absolute;
    padding: 15px 20px;
    background-color: #043d79e6;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Efecto de transición al pasar el mouse */
}
.btn-back:hover {
    background-color: #AED6F1;
    color: rgb(0, 0, 0);
    transform: scale(1.05); /* Realiza un pequeño zoom del 5% */
}
