/* General reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.filter-blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}
/* Introduction section */
.intro {
    margin: auto;
    max-width: 50em;
    margin-top: 17em;
}
.intro-img {
    width: 100%;
    position: relative;
    margin-left: 13em;
    border-radius: 5px;
    box-shadow: 0 0 10px 0px #000000;
}
.intro-text {
    position: absolute;
    max-width: 30rem;
    z-index: 1;
    margin-top: 10em;
    background-color: rgba(255, 255, 255, 0.744);
    box-shadow: #000000 0px 0px 10px 0px;
    padding: 3em;
}
.welcome-title {
    font-size: 2em;
    text-align: center;
}
.welcome-text {
    font-size: 1.3em;
    text-align: justify;
    margin-top: 1em;
}


/* Responsive design */
@media screen and (max-width: 600px) {
    body {
        overflow: hidden;
    }
    .intro-img {
        width: 70%;
        height: 80%;
        margin-top: 1em;
        margin-left: 22%;
    }
    .welcome-title {
        font-size: 1.7em;
        text-align: center;
    }
    .welcome-text {
        font-size: 1.1em;
        text-align: justify;
    }
    .intro-text {
        max-width: 22em;
        font-size: 0.9em;
        margin-left: 60px;
        padding: 16px;
    }
}