body {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 20%;
}

h1 {
    margin-bottom: 7%;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: aliceblue
}

#scrollabe-table {
    padding:2%;
    margin: 1%;
    width: 100%;
    height: 95%;
    overflow-x: auto;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    width: 5000px;
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
    background-color: white;
}

th,
td {
    text-align: center;
    border: 1px solid black;
}
.progress-bar-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}
.progress-bar {
    position: absolute;
    left: 0;
    background-color: rgba(5, 186, 35, 0.62);
    height: 60px;
}

.t-title {
    padding: 10px;
    width: 200px;
}

@media screen and (min-width: 1200px) {
    .container {
        margin-top: 5%;
    }

    h1 {
        margin-bottom: 3%;
    }

}