.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5em;
    max-width: 900px;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 80px #000000b0;
}
.lg-saavedra {
    width: 25em;
    padding: 2em 0;
}
h2 {
    font-size: 1.8em;
    color: #404040;
    font-weight: 100;
}
.select {
    width: 100%;
    margin: 1em 0;
    border-radius: 5px;
    padding: 0.8em 1em;
    border: 1px solid #00000033;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 1px;
    background: #033966;
    color: #ffffff;
}
.label-select {
    font-size: 1.3rem;
    font-weight: 700;
    color: #033966;
}

.select-container {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    margin-top: 20px;
}

/* BOTON */
.btn-search {
    display: block;
    margin: 3em auto 0 auto;
    background: #033966;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: 0.3s ease;
}
.btn-search:hover {
    background: #0a8504;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
/* BOTON */
.btn-back {
    width: 160px;
    height: 75px;
    margin: 20px;
    padding: 20px 20px;
    background-color: #043d79e6;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; /* Efecto de transición al pasar el mouse */
}
.btn-back:hover {
    background-color: #aed6f1;
    color: rgb(0, 0, 0);
    transform: scale(1.05); /* Realiza un pequeño zoom del 5% */
}
