@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

label {
    color: green;
    font-weight: bold;
}

h2 {
    margin-top: 10%;
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin-top: 5%;
    max-height: 755px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

/*Estilos para el formulario*/
.wrapper {
    border-radius: 10px;
    padding: 30px 150px;
    overflow-y: auto;
    box-shadow: 20px 20px 80px rgb(0, 0, 0);
    background-color: white;
}

.lg-saavedra {
    width: 300px;
    margin-bottom: 3%;
}

.div-rows-hidden {
    display: none;
}

.div-btn-add {
    display: flex;
    justify-content: center;
}

.h4 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}


/*Estilos para el checbox de agregar una clase*/
.container-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.checkbox-add-class {
    width: 5%;
    height: 20px;
    margin: 5px;
    border: 4px solid #000000;
}

.label-add-class {
    color: black;
}
/*Estilos para la tabla en donde se muestran las clases*/
.scrollabe-table {
    position: relative;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: rgba(57, 55, 55, 0.472);
    width: 100%;
    height: 17%;
    overflow-y: auto;
    padding: 1rem;
}
.table {
    margin: 0;
    width: 100%;
    border: 2px solid #000000;
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.table th {
    width: 150px;
    border: 2px solid #000000;
    background-color: rgba(217, 217, 217, 0.8);
}
.div-td {
    width: 100%;
    padding: 5px;
}
.btnClass {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: none;
    transition: 0.2s;
}

.btnClass:hover {
    background-color: #818180eb !important;
    font-weight: bold;
    transition: 0.2s;
}
/*Estilos para la seccion de las casillas*/
.div-boxes {
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 80px rgb(0, 0, 0);
}

.sections {
    display: flex;
    flex-direction: row;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilo para la casilla de verificación */
.checkbox-container {
    display: flex;
    padding: 7px;
    max-width: 60%;
}

.checkbox,
.checkbox-soldaduras,
.checkboxAll {
    width: 20px;
    margin-right: 10px;
}

.div-checkboxAll {
    display: flex;
    justify-content: right;
    margin: 50px;
}

.input-machine,
.input-machine-soldaduras {
    width: 13%;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
}

/* Estilos para los botones accion de las clases*/
.btn {
    display: none;
    margin-top: 10px;
    background-color: #0a8504;
    color: white;
}

.btn:hover {
    background-color: #3ca109eb;
    font-weight: bold;
}

.btn-deleteClass {
    background-color: #ca0808;
    padding: 10px;
}

.btn-editClass {
    background-color: #0845ca;
    padding: 10px 20px;
}

.action-btns {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
    text-align: center;
    margin: 10px;
    border: none;
}

.action-btns:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2.2);
}

.container-WOButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-deleteWO {
    background-color: #9c0303;
    padding: 10px;
}

.btn-pdfWO{
    background-color: #0a8504;
    padding: 10px;
}
.div-padre {
    position: absolute;
    transition: 0.3s;
    width: 100%;
    height: 64.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000003a;
}

.div-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34%;
    transition: 0.2s;
    padding: 15px;
}

.div-cerrar {
    width: 5%;
    margin-left: 95%;

}

.btn-cerrar {
    width: 100%;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

.btn-cerrar:hover {
    transition: 0.2s;
    transform: scale(1.3);
}

.img-cerrar {
    width: 100%;
}

.img-delete {
    width: 20%;
    height: 20%;
}
.label-delete {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    .container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    }
    .container_form {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }
    .div-boxes { 
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 1370px;
    }
    .h4{
        font-size: 1.1rem;
        margin-top: 0%;
        margin-bottom: -6%;
    }
    .wrapper {
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 10%;
        align-items: center;
        justify-content: center;

        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 95%;
        max-width: 95%;
        height: 100%;
    }
    .lg-saavedra {
        width: 200px;
        margin-bottom: -3%;

    }
    .btn-addClass {
        color: white;
        margin-top: 1370PX;
    }
    .wrapper {
        font-size: 0.95rem;
        margin-bottom: 0.8rem;
    }
    .div-rows {
        padding: 0.5rem;
    }
    .container-form {
        padding: 0.5rem;
    }
    /* TABLA */
    .scrollabe-table {
        width: 100%;
        height: 20%;
        font-size: small;
    }
    /* Opcional: reducir tamaño de inputs si se requiere */
    .div-rows input,
    .div-rows select,
    .div-rows textarea {
        font-size: 0.9rem;
        padding: 0.4rem;
    }
    /* BOTONES */
    .btn-deleteWO, .btn-pdfWO{
        font-size: small;
    }
    .div-scrollabe-table {
        width: 50%;
        font-size: small;
        height: 30%;
    }
    /* INPUTS CHECKBOX */
    .checkbox-container {
        max-width: 100%;
        font-size: small;
        padding: 0.5rem;
    }
    .checkbox,
    .checkbox-soldaduras,
    .checkboxAll {
        width: 18px;
        height: 18px;
        margin-right: 5px;
    }
    .input-machine, .input-machine-soldaduras{
        width: 20%;
        margin-right: 5px;
        font-size: small;
    }
}




