* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 30vw;

    border-radius: 10px;
    padding: 40px;
    box-shadow: 20px 20px 80px #000000;
}
.lg-saavedra {
    display: flex;
    width: 300px;
    margin: 1rem auto;
}
h2 {
    padding: 1em;
    text-align: center;
    font-weight: 100;
    color: #404040;
    font-size: 1.8em;
}

.input-field {
    border-radius: 5px;
    padding: 0.7em;
    margin: 1em 0;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background: #03396610;
    border: 1px solid #00000033;
    width: 100%;
}

.input-field:hover {
    border: 1px solid #0a8504;
}

.btn.btn-block {
    display: flex;
    margin: 3em auto 0 auto;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    background-color: #033966;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px;
    transition: 0.2s;
}

.btn.btn-block:hover {
    background-color: #0a8504;
    transform: scale(1.1);
    transition: 0.2s;
}

@media (max-width: 991.98px) {
    .wrapper {
        width: 94%;
        height: 52%;
        max-width: 500px;
        border-radius: 10px;
        margin: auto;
        padding: 30px 40px;
        box-shadow: 20px 20px 80px rgb(0, 0, 0);
    }
    .lg-saavedra {
        width: 68%;
        margin: 0 auto;
        padding: 0.5em;
    }
    h2 {
        font-size: 1.3em;
        padding: 0.7em;
    }
    .input-field {
        font-size: 1em;
        padding: 0.5em;
    }
    .btn.btn-block {
        font-size: 1em;
        padding: 0.5em;
    }
    .btn.btn-block:hover {
        background-color: #0a8504;
        transform: scale(1.1);
        transition: 0.2s;
    }
}
