.titles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 50px;
    color: black;
}

.container {
    position: relative;
    margin-top: 200px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.tablaOperadores{
    border: 2px solid #000000;
    background-color: rgba(217, 217, 217, 0.8);
    height: 36px;
    text-align: center;
    font-size: 25px;
    width: 40%;
    margin-left: 56%;
}
.tablaOperadores th{
    background-color: rgba(7, 7, 7, 0.288);

}
.tablaOperadores tr{
    background-color:rgba(217, 217, 217, 0.8);
}

.scrollabe-table {
    margin: auto;
    overflow-x: auto;
    border-radius: 5px;
    background-color: rgba(7, 7, 7, 0.592);
    width: 95%;
    height: 300px;
    padding: .5rem;
}

.tabla3 {
    border-collapse: collapse;
    border-color: rgba(3, 44, 0, 0.8);
    font-size: 20px;
    color: #fff;
    border: 2px solid #000000;
    background-color: rgba(7, 7, 7, 0.592);
    width: 380%;
}

.tabla3 input {
    border: 1px solid #000000;
    background-color: rgba(217, 217, 217, 0.8);
    height: 36px;
    text-align: center;
    font-size: 25px;
}

.tabla3 th {
    border: 2px solid #000000;
    background-color: rgba(217, 217, 217, 0.8);
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #000000;
}

.tabla3 td {
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    color: #000000;
    text-align: center;
    height: 100%;
}

.input {
    width: 100%;
}

.input-medio {
    width: 50%;
}

.title-subproceso {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 750px;
}

.btn-regresar {
    position: absolute;
    top: 2rem;
    left: 10rem;
    background: #033966;
    color: #fff;
    font-weight: 900;
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

.btn-regresar:hover {
    background: #9C0300;
    transform: scale(1.1);
    transition: 0.2s;
}

/* PARTE 2 DEL REPORTE DE PIEZAS */
@media (max-width: 991.98px) {
    .btn-regresar {
        font-size: 0.9em;
        padding: 8px 16px;
        top: -3rem;
        left: 5%;
        margin: 0 auto;
        display: block;
    }
    th, td{
        font-size: 0.6em;
    }
    .tablaOperadores {
        width: 100%;
        margin-left: 0;
    }
    .title {
        font-size: 30px;
        text-align: center;
    }
    .container {
        position: relative;
        margin-top: 15%;
    }
    .title{
        font-size: 1.5em;
        text-align: center;
        padding: 0.2em;
    }
    .scrollabe-table {
        width: 100%;
        height: 40%;
    }
    .t-title{
        font-size: 0.5em;
        text-align: center;
        min-width: 150px;
    }
    .tabla3 {
        width: 100%;
        font-size: 0.8em;
    }
    .tabla3 th, .tabla3 td {
    
        font-size: 0.8em;
    }
    .tabla3 input{
        font-size: 1.5em;
        
    }

}