* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    background: #fff;
    border-radius: 10px;
    padding: 3.5em;
    box-shadow: 5px 10px 80px #000000b0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lg-saavedra {
    width: 27em;
}

h2 {
    margin-top: 2em;
    color: #404040;
    font-weight: 100;
    font-size: 1.8em;
}

.bttns-add-select {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 1.5em 1.5em 0 1.5em;
    transition: 0.2s;
    background-color: #0a8504;
}

.bttns-add-select:hover {
    background-color: #033966;
    transform: scale(1.1);
    transition: 0.2s;
}
.container-form {
    width: 100%;
    margin-top: 2em;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    margin-top: 2em;
    color: #404040;
    font-weight: 100;
}

.form-control {
    width: 100%;
    border-radius: 5px;
    padding: 0.7em;
    background: #03396610;
    border: 1px solid #00000033;
    text-align: center;
    font-size: 1.3em;
    margin: 1em 0;
}
.form-control:hover {
    border: 1px solid #033966;
}

.btn.btn-block {
    margin-top: 1.5em;
    border-radius: 20px;
    background-color: #033966;
    color: #fff;
    border: none;
    width: 25%;
    font-size: 1.3em;
    padding: 0.7em;
    letter-spacing: 1px;
    transition: 0.2s;
}

.btn.btn-block:hover {
    transform: scale(1.1);
    background-color: #0a8504;
    transition: 0.2s;
}

h4 {
    font-size: 1.5em;
    color: #404040;
    font-weight: 100;
}

/* Estilos de alertas */
.fas.fa-check {
    background-color: #fcebea;
    border: 1px solid #f5c6cb;
    color: #cc1f1a; /* color de texto tipo warning */
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}
/*

/* Media Queries for Responsiveness */

@media (max-width: 991.98px) {
    /* PARA EL FORMULARIO DE REGISTRO */
    /* CUANDO LE DAMOS CLIC AL BOTON CREAR OT */
    .wrapper {
        width: 90%;
        padding:10px 20px;
    }
    .lg-saavedra {
        width: 50%;
        padding: 1em 0;
    }
    h2{
        font-size: 1.2em;
        margin-top: 0.4em;
        text-align: center;
    }
    .container-form{
        width: 100%;
        margin-top: 1em;
    }
    .btn.btn-block {
    margin-top: 1.5em;
    border-radius: 20px;
    background-color: #033966;
    color: #fff;
    border: none;
    width: 35%;
    font-size: 1em;
    padding: 0.7em;
    letter-spacing: 1px;
    transition: 0.2s;
}
.btn.btn-block:hover {
    transform: scale(1.1);
    background-color: #0a8504;
    transition: 0.2s;
}
    .bttns-add-select {
        font-size: 1em;
        padding: 0.5em 1em;
        margin: 1em 1em;
    }
    .form-label{
        font-size: 1em;
        margin: 0.5em 0;
    }
    .form-control {
        width: 100%;
        height: 200%;
        font-size: 1em;
        padding: 0.5em;
        margin: 0.5em 0;
    }
    .close-alert {
        font-size: 0.7em;
        padding: 0 ;
    }
    .alert  {
        font-size: 0.8em;
        padding: 0.5em 1em;
        text-align: left 50px;
    }
    
    
}