.main-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 90vw;
    height: 80vh;
    justify-content: center;
}
.wrapper {
    border-radius: 10px;
    padding: 1em 5em;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
}
.lg-saavedra {
    width: 300px;
    display: flex;
    margin: auto;
}
h3 {
    text-align: center;
    font-size: 1.8em;
    color: #404040;
    padding: 22px;
    font-weight: 100;
}
.row{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
    padding: .7em;
    width: 50%;
}
.form-control{
    border-radius: 5px;
    border: 1px solid #00000033;
    font-size: 1.3em;
    padding: .7em;
    transition: 0.2s;
    background: #03396610;
}
.form-control:hover{
    border: 1px solid #0a8504;
    transition: 0.2s;
}
label {
    color: #033966;
    font-weight: bold;
    font-size: 1.3em;
}
.div-rows-hidden {
    display: none;
}

/*Estilos para la tabla en donde se muestran las clases*/
.scrollabe-table {
    box-sizing: border-box;;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #00000033;
    overflow-y: auto;
    padding: 1rem;
}
.table {
    width: 100%;
    border: 2px solid #000000;
    color: #000000;
    text-align: center;
}
.t-title {
    width: 150px;
    border: 2px solid #000000;
    background-color: #fffa;
    font-size: 1.3em;
}
.btnClass {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: none;
    transition: 0.2s;
    font-size: .9rem;
}
.btnClass:hover {
    background-color: #033966 !important;
    color: #ffffff;
    transition: 0.2s;
}
.div-td {
    width: 100%;
    padding: 5px 0;
    font-size: 1.5em;
}

/*Estilos para los botones de la Orden de trabajo*/
.container-WOButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-deleteWO {
    background-color: #9c0303;
    padding: 10px;
}

.btn-pdfWO {
    background-color: #033966;
    padding: 10px;
}
.btn-pdfWO:hover {
    transform: scale(1.1);
    background-color: #0a8504;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2.2);
    transition: 0.2s;
}

/*Estilos para el checbox de agregar una clase*/
.container-checkbox {
    text-align: center;
    margin: 20px 0;
}

.checkbox-add-class {
    transform: scale(2);
    margin: 0 1.5em;
    border: 4px solid #000000;
}

.label-add-class {
    color: #000000;
}


/*Estilos para la seccion de las casillas*/
.div-boxes {
    position: relative;
    display: none;
    background-color: #fff;
    flex-direction: column;
    margin-left: 4em;
    border-radius: 10px;
    padding: 1em; 
    justify-content: center;
}
.div-boxes h3 {
    position: absolute;
    top: 0;
    width: 90%;
}
.sections {
    display: flex;
    flex-direction: row;
    padding: 0 5em;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

/* Estilo para la casilla de verificación */
.checkbox-container {
    display: flex;
    padding: 1.5em 0;
}

.checkbox,
.checkbox-soldaduras,
.checkboxAll {
    transform: scale(2);
    margin: 0 1em;
}

.div-checkboxAll {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    margin: 3em;
}

.input-machine,
.input-machine-soldaduras {
    width: 2.2em;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 1.5em;
}

/* Estilos para los botones accion de las clases*/

.div-btns {
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.btn {
    display: none;
    background-color: #0a8504;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2.2);
    transition: 0.2s;
}
.btn-deleteClass {
    background-color: #9c0303;
    padding: 10px;
}
.btn-editClass {
    background-color: #033966;
    padding: 10px 20px;
}
.btn-editClass:hover {
    background-color: #0a8504;
}
.action-btns {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s;
    text-align: center;
    margin: 0 10px;
    border: none;
    font-size: 1.2em;
}
.action-btns:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 2.2);
    transition: 0.2s;
}

/*Estilos para los componentes al eliminar una OT o una clase*/
.div-opacity {
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000003a;
}

.div-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 50em;
    transition: 0.2s;
    padding: 2em;
    border-radius: 10px;
}

.div-cerrar {
    width: 3em;
    margin-left: 95%;
}

.btn-cerrar {
    border: none;
    background: transparent;
    transition: 0.2s;
}

.btn-cerrar:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.img-cerrar {
    width: 100%;
}

.img-delete {
    width: 10em;
    padding: 10px;
}
.label-delete {
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    /* html,
    body {
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
    .h4 {
        margin-top: -30px;
        top: -15px;
        margin-bottom: -10px;
        font-size: 1.1rem;
    }
    #select-procesos {
        position: absolute;
        width: 100%;
        margin-top: 10px;
        font-size: 1.2rem;
    }
   
    .main-layout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        z-index: 1;
    }
    .container-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 192%;
        z-index: 1000;
    }
    .label-form {
        position: relative;
        top: -6px;
    }
    .form-control {
        position: relative;
        top: -6px;
    }
    .div-boxes {
        position: relative;
        top: calc(15% + 400px);
        left: 44%;
        align-items: center;
        gap: -2rem;
        transform: translateX(-50%);
        width: 100%;
        max-width: 100%;
        height: 10vh;
        max-height: 10vh;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0.5rem;
        padding-top: 18rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 94%;
        max-width: 94%;
        height: auto;
        max-height: 76vh;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .lg-saavedra {
        width: 170px;
        margin-bottom: 3%;
    }
    .btn-addClass {
        color: white;
    }
    .wrapper {
        font-size: 0.95rem;
        margin-bottom: 0.8rem;
    }
    .div-rows {
        padding: 0.5rem;
    }

    .scrollabe-table {
        width: 100%;
        height: 10%;
        margin-top: 0rem;
        font-size: 0.8rem;
    }
    .table th {
        font-size: 0.8rem;
    }

    .div-rows input,
    .div-rows select,
    .div-rows textarea {
        font-size: 0.9rem;
        padding: 0.4rem;
    }

    .btn-deleteWO,
    .btn-pdfWO {
        font-size: small;
    }
    .btn-addClass btn {
        bottom: 20px;
        position: fixed;
        font-size: small;
        background-color: #0d6efd;
        color: rgb(2, 167, 71);
        padding: 10px 15px;
        border-radius: 5px;
        border: none;
        font-size: small;
    }
    .div-scrollabe-table {
        width: 50%;
        font-size: small;
        height: 20%;
    }

    .checkbox-container {
        display: flex;
        padding: 0.1rem;
        max-width: 110%;
        font-size: small;
        margin-top: 10%;
        margin-left: 10%;
    }
    .checkbox-container label {
        margin-top: -15px;
        margin: -10px  10px;
    
    } 
    .checkbox-label {
        font-size: small;
    }
    .checkbox,
    .checkbox-soldaduras,
    .checkboxAll {
        width: 26px;
        height: 26px;
        margin-right: 5px;
    }
    .input-machine,
    .input-machine-soldaduras {
        width: 20%;
        font-size: 0.9rem;
    }
    .label-add-class {
        position: relative;
        top: -28px;
    }
    #all-label {
        margin-top: 0px;
        font-size: 16px;
    }
    .checkboxAll {
        margin-top: 0;
    }
    .checkbox-add-class {
        position: relative;
        top: -22px;
        margin-top: 25px;
        width: 24px;
        height: 24px;
        margin-top: 25px;
    }
    .checkbox {
        width: 20px;
        height: 20px;
    }
    .div-delete {
        display: flex;
        position: static;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        z-index: 10000;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: white;
        transition: 0.3s ease-in-out;
        margin-top: -170%;
        transition: 0.2s;
        padding: 15px;
    }
    .div-cerrar {
        width: 5%;
        margin-left: 80%;
    }

    .btn-cerrar {
        width: 300%;
        border: none;
        background-color: transparent;
        transition: 0.2s;
    }

    .btn-cerrar:hover {
        transition: 0.2s;
        transform: scale(1.3);
    }

    .img-cerrar {
        width: 100%;
        height: 100%;
    }
    .img-delete {
        width: 40%;
        height: 20%;
    }
    .label-delete {
        font-size: 12px;
        color: rgb(0, 0, 0);
        align-items: center;
        margin-bottom: 30px;
        font-weight: bold;
    }
    .btn-deleteClass  {
        background-color: #ca0808;
        padding: 10px;
        margin-top: -20px;
        z-index: 1000;
        font-size: small;
    }
    .btn-editClass{
        background-color: #0845ca;
        padding: 10px 20px;
        margin-top: -20px;
        z-index: 1000;
        font-size: small;
    }
    .div-opacity{
        background-color: transparent;
    }
    .sections{
        margin-top: 50%;
        position: static;

    }
    .section1, .section2{
        margin-top: -190px;
        position: relative;
    } */
}
